{{ define "alert_list11" }}{{ range . }}{{ range .Annotations.SortedPairs }}{{ if eq .Value "Updated" }}✅{{ end }}{{ .Value }}
{{ end }}
<pre>Источник:
{{ range .Labels.SortedPairs }} - {{ if eq .Value "DatasourceNoData" }}❌❌❌{{ .Value }}{{ else }}{{ .Name }} = {{ .Value }}{{ end }}
{{ end }}</pre>
{{ end }}{{ end }}

{{ define "nt-latencyJ-alert" }}{{ if gt (len .Alerts.Firing) 0 }}<b>⏱Высокая задержка при обращении к серверу!</b>

{{ template "alert_list11" .Alerts.Firing }}{{ if gt (len .Alerts.Resolved) 0 }}

{{ end }}{{ end }}{{ if gt (len .Alerts.Resolved) 0 }}<b>✅Время ответа в пределах нормы.</b>

{{ template "alert_list11" .Alerts.Resolved }}{{ end }}{{ end }}